@tailwind base;
@tailwind components;
@tailwind utilities;


.scrolling-text-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scrolling-text {
    display: flex;
    animation: marquee 100s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  